<% layout("/layouts/boilerplate") %>
<br><br>

<div class="row">

    <div class="col-8 offset-2">
    <h3>Create a new Listing</h3>
    <br>  

    <form method="POST" action="/listings" novalidate class="needs-validation"  >
        <div class="mb-3">
            <label for="title" class="form-label"> Title</label>
            <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control"  />
            <div class="valid-feedback">
                Title Looks good!
               </div>
        </div>
      
        <div class="mb-3">
            <label for="description" class="form-label"> Description</label>
            <textarea name="listing[description]" class="form-control"  ></textarea>
            <div class="valid-feedback">
                Description Looks good!
                </div>
        </div>
       
     
          <div class="mb-3">
            <label for="image" class="form-label"> Image Url</label>
            <input name="listing[image]" placeholder="enter image url/link" type="text" class="form-control">
            <div class="valid-feedback">
                Image Looks good!
               </div>
        </div>  
<!-- 
         <div class="mb-3">
            <label for="image" class="form-label"> Upload Listing Image</label>
            <input name="listing[image]" type="file" class="form-control">
            <div class="valid-feedback">
                Image Looks good!
               </div>
        </div>  -->
        

    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label"> Price</label>
            <input name="listing[price]" placeholder="1200" class="form-control"  >
            <div class="invalid-feedback">
                please add a valid price 
               </div>
        </div>
       
     
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label"> Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control">
            <div class="invalid-feedback">
               Country name should be valid
               </div>
        </div>
        
    </div>
      
        <div class="mb-3">
            <label for="location" class="form-label"> State</label>
            <input name="listing[location]" placeholder="Jaipur" type="text" class="form-control" >
              <div class="invalid-feedback">
              Location should be valid
              </div>
        </div>
      <br><br>
        <button class="btn btn-dark mb-3 add-btn">Add</button>
    </form>
</div></div>
