<% layout("/layouts/boilerplate") %>
<br><br>

<div class="row">

    <div class="col-8 offset-2">
    <h3>Create a new Listing</h3>
    <br>  

    <form method="POST" action="/listings" novalidate class="needs-validation" >
        <div class="mb-3">
            <label for="title" class="form-label"> Title</label>
            <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label"> Description</label>
            <textarea name="listing[description]" class="form-control" required ></textarea>
        </div>
     
        <div class="mb-3">
            <label for="image" class="form-label"> Image Url</label>
            <input name="listing[image]" placeholder="enter image url/link" type="text" class="form-control">
        </div>
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label"> Price</label>
            <input name="listing[price]" placeholder="1200" type="number"class="form-control" required >
        </div>
     
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label"> Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control"required>
        </div>
      
    </div>
      
        <div class="mb-3">
            <label for="location" class="form-label"> Country</label>
            <input name="listing[location]" placeholder="Jaipur" type="text" class="form-control">
        </div>
      <br><br>
        <button class="btn btn-dark mb-3 add-btn">Add</button>
    </form>
</div></div>