<% layout("/layouts/boilerplate") %>

<div class="row mt-3" >
    <div class="alert alert-danger d-flex align-items-center" role="alert" >
        <div>
            <h4><%= err.message %></h4> 
        </div>
      </div>
</div>
